@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownDelayed {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #28293E;
    height: 100%;
    animation: slideDown 1s ease-out;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    gap: 5%;
    padding-top: 10%;
    animation: slideDown 1s ease-out;
}

.text {
    max-width: 60%;
    animation: slideDownDelayed 1.5s ease-out;
}

.text h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
}

.name {
    color: #EF6D58;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.text p {
    color: #DFE0E9;
    width: 80%;
    padding-bottom: 5%;
    font-weight: 200;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    animation: slideDown 2s ease-out;
}

.profileImage {
    height: 100%;
    width: 100%;
}

.btnProfile {
    background-color: #EF6D58;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    border: none;
    text-transform: uppercase;
    padding: 2%;
    width: 150px;
    animation: slideDownDelayed 2.5s ease-out;
}

.btnProfile:hover {
    cursor: pointer;
    color: #EF6D58;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .profileContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .text {
        text-align: center;
        max-width: 80%;
        padding-top: 1%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .text h2 {
        padding-block: 4%;
    }

    .image {
        max-width: 50%;
        padding-top: 10%;
    }

    .text p {
        padding-bottom: 10%;
    }

    .btnProfile {
        height: 50px;
        font-size: 1rem;
    }
}